/* Styles for login page */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
  }
  
  .formTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .formField {
    margin-bottom: 20px;
  }
  
  .formField label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333333;
  }
  
  .formField input {
    width: 100%;
    color: black;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    font-size: 14px;
  }
  
  .formActions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .formActions button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .formActions button:hover {
    background-color: #45a049;
  }
  
  .errorMessage {
    color: #f44336;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
  }
  
  .error{
    color: red;
  }

  .Forgotpass{
    color: blue;
  }

  .success{
    color: green;
    text-align: center;
    background-color: beige;
    width: 100%;
  }

  .error{
    color: green;
    text-align: center;
    background-color: red;
    width: 100%;
  }