/* playerStyles.css */

.thePlayer {
  position: relative;
  
  top: 148px;
  width: 453%;
  left: -227%;
    height: 15vh;
    border-radius: 10%;
    background-color: black;
    /* border-radius: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
  }
  
  .song_info {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .controls {
    background-color: #020202;
    border-radius: 25%;
    display: flex;
    justify-content: space-around;
    width: 17%;
  }
  
  .control_button {
    border-radius: 100%;
    background-color: white;
    color: black;
    font-size: 15px;
    padding: 10px;
    padding: 8px 16px;
    /* border: none; */
    /* background-color: #007bff; */
    color: #fff;
    /* border-radius: 4px; */
    cursor: pointer;
  }
  
  .control_button button{
    color: black;
  }
  .seekbar{
    background-color: white;
    height: 3px;
    /* margin-bottom: 20px; */
    width: 50%;
  }
  .seekbar div{
    height: 5px;
    background-color: blue;
    width: 13%;
  }

  .duration{
    /* margin-top: 20px; */
  }

  
.similar{
  position: absolute;
  bottom: 17%;
  height: 47vh;
  width: 279px;
  color: white;
  left: 45%;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listItem {
  margin-bottom: 10px; /* Add your desired spacing here */
  /* Other styling for each list item */
}

.heart_button {
  border-color: black;
  background-color: transparent;
  border: 1px solid;
  border-radius: 50%; /* To make the button circular */
  padding: 8px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s, border-color 0.3s;
  border-color: black;
  font-size: 25px;
}

.heart_buttonRed {
  background-color: transparent;
  border: 1px solid;
  border-radius: 50%; /* To make the button circular */
  padding: 8px;
  cursor: pointer;
  color: rgb(237, 15, 15);
  transition: background-color 0.3s, border-color 0.3s;
  border-color: black;
  font-size: 25px;
}



.heart_buttonRed:hover {
  border-color: black;
  color: red; /* Change text color on hover */
}

.sideBar{
  background-color: blue;
  width: 240px;
  height: 40vh;
  position: absolute;
  left: -202%;
  top: -168%;
}
.likedSongs{
  position: absolute;
  top: 34%;
  left: 3%;
  background-color: gray;
  display: inline-block;
}
.addBtn{
  position: absolute;
  top: 34%;
  left: 56%;
}

.icon {
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.5); /* Increase the size by 10% on hover */
}

.like{
  border-color: white;
}
.like:hover{
  border-color: black;
}

.songList{
  display: flex;
  background-color: #323131;
  text-decoration: yellow;
  font-size: 26px;
}
.songList2{
  transition: font-size 0.4s ease;
}
.songList2:hover{
  font-size: 26px;
}


.songListBtn{
  height: 4vh;
  text-align: center;
  width: 13%;
  border-radius: 100%;
}