/* SideBar.module.css */
.sideBar {
  top: -89%;
  position: absolute;
  background-color: #212121;
  padding: 1rem;
  width: 250px;
  height: 48vh;
  overflow-y: auto;
  /* bottom: 17%; */
  right: 240%;
  border: solid;
  transition: background-color 0.3s ease, border-color 0.6s ease; 
}

.sideBar:hover{
  border-color: blue;
  background-color: #363636;
}

.addButton {
  color: white;
  background-color: #000000;
  color: white;
  width: 100%;
  color: #fff;
  border: none;
  padding: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.likedSongs  {
  text-align: center;
  background-color: transparent;
  border: none;
  color: #c4d1c4;
  font-size: 1rem; /* Set the default font size */
  transition: font-size 0.3s; /* Apply transitions for font size and background color */
  transition: background-color 1.7s ease, font-size 0.5s ease; 
  cursor: pointer;
}

.likedSongs:hover {
  background-color: #5a5a58;
  font-size: 1.4rem; /* Increase font size on hover */
}
.addButton:hover {
  background-color: #b71c1c;
}

.addButton {
  background-color: #388e3c;
}

.addButton:hover {
  background-color: #2e7d32;
}

/* Rest of your styles */

.heartIcon {
  margin-right: 0.3rem;
}





.loveBtn {
  text-align: center;
  color: rgb(196, 209, 196);
  margin-top: 1rem;
  font-size: 1rem; /* Set the default font size */
  transition: font-size 0.3s; /* Apply transition for font size only */
}

.loveBtn:hover {
  font-size: 1.1rem; /* Increase font size on hover */
  cursor: pointer;
  color: red;
}

.modalBody{
  background-color: rgb(42, 42, 42);
}

.modal-content{
  color:white;
}