@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.body {
  background-color: rgb(59, 59, 59);
  height: 100vh;
}
.navbar-brand{
  color: black;
}


.container{
  display: flex;
  color: black;
}

.theForm{
  display: flex;
  /* background-color: black; */
  position: absolute;
    left: 37%;
    right: 37%;
    top: 20%;
    
}

.btn{
  margin-left: 7px!important;
    font-size: 15px!important;
    background: black!important;
    color: white !important;
}
.sideBar{
  background-color: blue;
  width: 240px;
  height: 40vh;
  position: absolute;
  left: 1%;
  top: 30%;
}
.likedSongs{
  position: absolute;
  top: 34%;
  left: 3%;
  background-color: gray;
  display: inline-block;
}
.addBtn{
  position: absolute;
  top: 34%;
  left: 56%;
}
/* conditionalDivStyles.css */
.conditionalDiv {
  height: 50vh;
  width: 970px;
  background-color: #201e1e;
  border: 1px solid #ff4a4a;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 20%;
  /* left: 120px; */
  transform: translateY(-50%);
}

.suggestions{
  background-color: white;
  position: absolute;
  z-index: 10;
}
.react_player{
  position: absolute;
    top: 30%;
    left: 31%;
    bottom: 50%;
    right: 50%;
    background-color: rgb(227, 81, 81);
    width: 600px;
    height: 50vh;
}

.audioDiv{
  position: absolute;
  top: 50%;
  left: 50%;
}

.profile{
  font-size: 24px;
    justify-content: center;
    height: 39px;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 100%;
    border: solid green;
    width: 45px;
}

.error{
  color:  balck;
  border: solid black;
}
.modal-content{
  width: 132% !important;
  height: 60vh;
}
.bodyModal{
  background-color: rgb(59, 59, 59);
  display: flex;
}